body {
    background-color: azure;
}

#display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 1rem;
    background-color: teal;
    height: 15vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: grey;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 1rem;
}

.button {
    display: grid;
    background-color: blue;
    width: 10;
    height: 12vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: grey;
}

#equals {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 1rem;
    background-color: teal;
    height: 15vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: grey;
}